@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Bold.eot');
    src: local('Alethia Next Light'), local('AlethiaNext-Light'),
        url('../fonts/OpenSansCondensed-Bold.eot') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-Bold.woff') format('woff'),
        url('../fonts/OpenSansCondensed-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// файл обнуляющих стилей
@import "./nullstyle.scss";

a {
    text-decoration: none;
}

body {}

.lock {
    overflow: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {}

.main__background-wrapper {
    position: relative;
}

.main-background {
    position: absolute;
    width: 100%;
    height: 1045px;
    z-index: -1;
}

.main-left {
    width: 150px;
    height: 1045px;
    background: rgba(51, 51, 51, 0.75);
    position: fixed;
    z-index: 2;
    padding-top: 140px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h2 {
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        color: #C4C4C4;
        font-family: 'Open Sans Condensed';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }

    &__hr {
        width: 3px;
        height: 80px;
        background: #C4C4C4;
    }

    &__icons {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        align-items: center;

        &-icon {}
    }
}

.main-burger-wrapper {
    display: none;
}

.main-header {
    position: fixed;
    max-width: 1110px;
    width: 100%;
    padding-top: 51px;
    display: flex;
    //align-items: center;
    justify-content: space-between;
    z-index: 2;

    &__menu {
        display: flex;
        gap: 50px;
    }

    h2 {
        color: var(--white, #FFF);
        font-family: 'Open Sans Condensed';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }

    &__number {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;


        a {
            text-decoration: none;
        }

        &-hr {
            width: 139px;
            height: 2px;
        }

        h3 {
            color: var(--white, #FFF);
            text-align: right;
            font-family: 'Open Sans Condensed';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.8px;
            text-transform: uppercase;
        }
    }
}

.main-content {
    display: flex;
    gap: 69px;
    max-width: 1110px;
    width: 100%;
    padding-top: 245px;
    z-index: 2;

    &-left {
        max-width: 596px;
        padding-top: 140px;

        h1 {
            color: var(--white, #FFF);
            font-family: 'Open Sans Condensed';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 4.8px;
            text-transform: uppercase;
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 21px;
            padding-top: 52px;

            p {

                color: #FFF;
                font-family: 'Open Sans';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 21px */
            }
        }

        &__button {
            padding-top: 48px;

            &-wrapper {
                width: 160px;
                height: 50px;
                background: var(--gold, #D1A954);

                h3 {
                    color: var(--white, #FFF);
                    text-align: center;
                    font-family: 'Open Sans Condensed';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.8px;
                    text-transform: uppercase;
                }
            }
        }
    }

    &-right {
        max-width: 370px;
        width: 100%;
        padding-top: 22px;

        &__swipe {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.main-swiper {
    &-navigation {
        color: var(--white, #FFF);
        font-family: 'Open Sans Condensed';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1300px;
        padding-left: 160px;
    }

    .main-header {
        &__number {
            padding-right: 20px;
        }
    }
}

@media (max-width: 1300px) {
    .container {
        max-width: 900px;
        padding-left: 60px;
    }

    .main-header {
        max-width: 900px;
        flex-direction: column;

        &__menu {
            flex-wrap: wrap;
            justify-content: space-between;
            justify-content: left;
            align-items: left;
        }

        &__number {
            max-width: 900px;
            padding: 51px 0px 0 0;
        }
    }

    .main-content {
        display: block;
        width: 100%;

        &-left {
            max-width: 100%;
            width: 100%;

            &__info {
                width: 100%;
            }
        }

        &-right {
            display: none;
        }
    }
}

@media (max-width: 1100px) {
    .container {
        max-width: 800px;
        padding-left: 80px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 800px;
        padding-left: 94px;
        // margin: 0 126px auto auto;
    }

    .main-header {
        &__menu {
            max-width: 690px;
            gap: 26px;
        }

        &__number {
            max-width: 690px;
        }
    }

    .main-content {
        &-left {
            width: 100%;
            padding-top: 116px;

            &__info {
                width: 100%;
                padding-top: 24px;
            }

            &__button {
                padding: 40px 0 0 10px;
            }
        }
    }
}

@media (max-width: 940px) {
    .main-left {
        width: 80px;
    }
}

@media (max-width: 790px) {
    .main-header {
        &__menu {
            gap: 16px;
        }
    }
}

@media (max-width: 768px) {
    .main-background {
        height: 800px;
    }

    .container {
        max-width: 690px;
        padding-left: 0;
    }

    .main-left {
        display: none;
    }

    .main-header {
        display: none;
    }

    //////////////////////

    .main-burger-wrapper {
        position: fixed;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        width: 100%;
        height: auto;
        align-items: center;
        padding: 56px 38px 0 38px;

        .main-burger {
            position: relative;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 5px;

            &-span-top {
                height: 3px;
                width: 26px;
                background: #fff;
            }

            &-span-middle {
                height: 3px;
                width: 19px;
                background: #fff;
            }

            &-span-bottom {
                height: 3px;
                width: 12px;
                background: #fff;
            }
        }

        .main-burger-menu {
            position: fixed;
            top: 0;
            left: -100%;
            width: 39%;
            height: 100%;
            //transform: translate(-100%, 0px);
            background-color: #333;
            padding: 10px;
            transition: left 0.3s ease 0s;
            overflow: auto;
            padding: 30px 0 0 0;
            display: flex;
            flex-direction: column;

            &__close {
                position: relative;

                &-img {
                    position: absolute;
                    top: 0;
                    right: 30px;
                }
            }

            &__list {
                padding: 110px 0 0 39px;

                &-item {
                    a {
                        text-decoration: none;
                    }

                    color: var(--white, #FFF);
                    font-family: 'Open Sans Condensed';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;

                }
            }

            .main-burger-menu__list-icons {
                display: grid;
                grid-template-columns: repeat(2, 0fr);
                padding: 54px 0 0 0;
                gap: 54px 42px;
                justify-content: center;
                align-items: center;
            }
        }

        .active {
            left: 0;
        }

        .remove {
            left: -100%;
        }

        .main-burger-menu__list>li {
            margin: 0 0 35px 0;

        }

        .main-burger-menu__list:last-child() {
            // margin-bottom: 0;
        }

        .main-number {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;

            a {
                text-decoration: none;
            }

            &-hr {
                width: 139px;
                height: 2px;
            }

            h3 {
                color: var(--white, #FFF);
                text-align: right;
                font-family: 'Open Sans Condensed';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.8px;
                text-transform: uppercase;
            }
        }
    }

    //////////////

    .main-content {
        max-width: 620px;

        &-left {
            width: 100%;
            padding: 7px 0 0 70px;

            h1 {
                font-size: 36px;
                color: var(--white, #FFF);
                letter-spacing: 1.8px;
                text-align: center;
                line-height: normal;
            }

            &__info {
                padding: 20px 0 0 3px;
            }

            &__button {
                padding: 40px 0 0 0;
            }
        }
    }
}

@media (max-width: 650px) {
    .main-burger-wrapper {
        .main-burger-menu {
            width: 50%;
        }
    }

}

@media (max-width: 576px) {
    .main-background {
        height: 600px;
    }

    .container {
        padding: 0 33px;
    }

    .main-burger-wrapper {
        padding: 56px 33px 0 40px;

    }

    .main-content {
        padding-top: 154px;

        &-left {
            padding: 7px 0 0 0;

            &__info {
                padding: 11px 0 0 0px;
            }

            &__button {
                padding: 30px 0 0 0;
            }
        }
    }

    .main-burger-wrapper {
        .main-burger-menu {
            width: 70%;
        }
    }

}

@media (max-width: 472px) {
    .main-background {
        height: 800px;
    }

    .main-content {
        padding-top: 100px;
    }
}



@media (max-width: 375px) {
    .main-burger-wrapper {
        .main-burger-menu {
            width: 100%;
        }
    }
}

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

.background-page-wrapper {
    position: relative;

}

.background-page {
    position: absolute;
    top: 1044px;
    left: 0;
    width: 100%;
    max-height: 3531px;
    background-color: #333;
    z-index: -1;

}



////////////////////////////////////////////////////////////////

.teatre-color {
    color: var(--gold, #D1A954);
}

.teatre {
    padding: 151px 0 0 0px;

    h2 {
        margin-left: 7px;
        color: var(--white, #FFF);
        text-align: center;
        font-family: 'Open Sans Condensed';
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 6.4px;
        text-transform: uppercase;
    }

    &-content {
        display: flex;
        padding-top: 79px;

        &__first-column {
            display: flex;
            flex-direction: column;

            h3 {
                color: var(--white, #FFF);
                font-family: 'Open Sans Condensed';
                font-size: 21px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2.1px;
                text-transform: uppercase;
            }

            h4 {
                padding-top: 34px;
                max-width: 445px;
                color: #FFF;
                font-family: 'Open Sans';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 21px */
            }
        }

        &__second-column {
            display: flex;
            flex-direction: column;
            padding-left: 30px;

            h3 {
                color: var(--white, #FFF);
                font-family: 'Open Sans Condensed';
                font-size: 21px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2.1px;
                text-transform: uppercase;
                margin-bottom: 34px;
            }

            h4 {
                color: var(--white, #FFF);
                font-family: 'Open Sans Condensed';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.8px;
                margin-top: 16px;
            }

            img {
                width: 70px;
                height: 70px;
            }

            .theater {
                margin-top: 19px;
            }
        }

        .teatre-content__third-column {
            margin-left: 44px;
        }
    }
}

@media (max-width: 1320px) {
    .teatre {
        justify-content: center;

        &-content {
            &__third-column {
                display: none;
            }
        }
    }
}

@media (max-width: 992px) {
    .teatre {
        h2 {
            font-size: 48px;
            letter-spacing: 4.8px;
        }

        &-content {
            padding-top: 100px;
        }
    }
}

@media (max-width: 780px) {
    .teatre {
        &-content {
            &__second-column {
                padding-left: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .background-page {
        top: 799px;
    }

    .teatre {
        padding-top: 90px;

        h2 {
            padding-left: 12px;
        }

        &-content {
            padding-top: 60px;

            &__second-column {
                padding-left: 30px;
            }
        }
    }
}

@media (max-width: 720px) {
    .teatre {
        margin-left: 15px;
    }
}

@media (max-width: 576px) {
    .background-page {
        top: 599px;
    }

    .teatre {
        margin-left: 0px;
        padding-top: 80px;

        h2 {
            padding-right: 16px;
        }

        &-content {
            flex-direction: column;

            &__first-column {
                text-align: center;

                h4 {
                    max-width: 504px;
                }
            }

            &__second-column {
                padding-top: 34px;
                padding-right: 30px;

                h3 {
                    text-align: center;
                }

                &-groups {
                    display: flex;
                    gap: 56px;
                    justify-content: center;
                    align-items: center;

                    &-armchair {
                        display: flex;
                        flex-direction: column;
                    }

                    &-theater {
                        .theater {
                            margin-top: 0;
                        }

                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (max-width: 472px) {
    .background-page {
        top: 799px;
    }
}

///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////

.productions{
    h2{
        padding: 144px 0 0 7px;
        text-align: center;
        color: var(--white, #FFF);
        font-family: 'Open Sans Condensed';
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 6.4px;
        text-transform: uppercase;
    }
    
    .productions-swiper{
        padding: 78px 0 0 0;
        margin-left: 150px;
        overflow-x: hidden;
        &__wrapper{
            
            max-width: 1770px;
            .swiper-slide{
                max-width: 443px;
                position: relative;
                &__background{
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    opacity: 0.35;
                }
                &__background:hover{
                    opacity: 1;
                    .swiper-slide__name{
                        display: none;
                    }
                }
                &__name{
                    position: absolute;
                    top:40px;
                    left: 40px;
                    color: var(--white, #FFF);
                    font-family: 'Open Sans Condensed';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                }
                &__date{
                    position: absolute;
                    top:390px;
                    left: 40px;
                    color: var(--white, #FFF);
                    font-family: 'Open Sans Condensed';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.8px;
                    text-transform: uppercase;
                    writing-mode: vertical-rl;
                    transform: rotate(-180deg);
                }
                &__search{
                    position: absolute;
                    top:225px;
                    left: 171px;
                    display: none;
                }
               
            }
        }
    }
}

@media (max-width: 1919px) {
    .productions-swiper-container{
        margin-right: 111px;
    }
}

@media (max-width: 992px) {
    .productions{
        h2{
            font-size: 48px;
            letter-spacing: 4.8px;
        }
    }
    .productions-swiper-container{
        
    }
}

@media (max-width: 768px) {
    .productions{
        h2{
            padding: 86px 0 0 20px;
        }
        .productions-swiper{
            padding: 0;
            margin-left: 0;
        }
    }
    .productions-swiper-container{
        margin-right: 39px;
        padding: 60px 0 0 40px;
    }   
}

@media (max-width: 768px) {
    .productions{
        h2{
            padding: 112px 0 0 4px;
        }
        .productions-swiper{
            
        }
    }

    .productions-swiper-container{
        margin-right: 33px;
        padding: 60px 0 0 34px;
    }   
}

@media (max-width: 350px) {
    .productions{
        h2{
            font-size: 32px;
        }
    }
}

//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////

.years {
    padding-top: 90px;
}
.years-background {
    width: 100%;
}
.years-background__img {
}