@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Bold.eot');
    src: local('Alethia Next Light'), local('AlethiaNext-Light'),
        url('../fonts/OpenSansCondensed-Bold.eot') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-Bold.woff') format('woff'),
        url('../fonts/OpenSansCondensed-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// файл обнуляющих стилей
@import "./nullstyle.scss";

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {}

.lock {
    overflow: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {}

.main__background-wrapper {
    position: relative;
}

.main-background {
    position: absolute;
    width: 100%;
    height: 1045px;
    z-index: -1;
}

.main-left {
    width: 150px;
    height: 1045px;
    background: rgba(51, 51, 51, 0.75);
    position: fixed;
    z-index: 2;
    padding-top: 140px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h2 {
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        color: #C4C4C4;
        font-family: 'Open Sans Condensed';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }

    &__hr {
        width: 3px;
        height: 80px;
        background: #C4C4C4;
    }

    &__icons {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        align-items: center;

        &-icon {}
    }
}

.main-burger-wrapper {
    display: none;
}

.main-header_fixed {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.main-header_background {
    background: rgba(51, 51, 51, 0.75);
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all 0.5s;
    
}

.main-header {
    // position: fixed;
    max-width: 1110px;
    width: 100%;
    padding-top: 51px;
    display: flex;
    //align-items: center;
    justify-content: space-between;
    z-index: 2;
    margin-bottom: 40px;

    &__menu {
        display: flex;
        gap: 50px;
    }

    h2 {
        color: var(--white, #FFF);
        font-family: 'Open Sans Condensed';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }

    &__number {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;


        a {
            color: var(--white, #FFF);
            text-align: right;
            font-family: 'Open Sans Condensed';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.8px;
            text-transform: uppercase;
        }

    }

    a{
        position: relative;
    }
    a:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #D1A954;
        left: 0;
        bottom: -5px;
        transform: scaleX(0);
        transition: transform 0.25s;
        transform-origin:left;
    }
    a:hover:before{
        transform: scaleX(1);
        transition: transform 0.25s;
    }
}


.main-header__number-scrollnone{
    display: none;
}

.main-content {
    display: flex;
    gap: 69px;
    max-width: 1110px;
    width: 100%;
    padding-top: 245px;
    z-index: 2;

    &-left {
        max-width: 596px;
        padding-top: 140px;

        h1 {
            color: var(--white, #FFF);
            font-family: 'Open Sans Condensed';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 4.8px;
            text-transform: uppercase;
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 21px;
            padding-top: 52px;

            p {

                color: #FFF;
                font-family: 'Open Sans';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 21px */
            }
        }

        &__button {
            padding-top: 48px;

            &-wrapper {
                width: 160px;
                height: 50px;
                background: var(--gold, #D1A954);

                h3 {
                    color: var(--white, #FFF);
                    text-align: center;
                    font-family: 'Open Sans Condensed';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.8px;
                    text-transform: uppercase;
                }
            }
        }
    }

    &-right {
        max-width: 370px;
        width: 100%;
        padding-top: 22px;

        &__swipe {
            padding-top: 56px;
            display: flex;
            justify-content: space-between;

            &-left {
                display: flex;
                gap: 8px;
            }

            &-right {
                display: flex;
                gap: 8px;
            }
        }
    }
}

.main-content-right__swipe-left, .main-content-right__swipe-right{
    cursor: pointer;
}

.main-swiper {
    &-navigation {
        color: var(--white, #FFF);
        font-family: 'Open Sans Condensed';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        
    }
    .main-swiper_yellow{
        position: relative;
    }
    .main-swiper_yellow-shadow{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: #D1A954;
        opacity: 0.9;
    }
    .swiper-slide-active{
        .main-swiper_yellow-shadow{
            display: none;
        }  
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1300px;
        padding-left: 160px;
    }

    .main-header {
        &__number {
            padding-right: 20px;
        }
    }
}

@media (max-width: 1300px) {
    .container {
        max-width: 900px;
        padding-left: 60px;
    }

    .main-header {
        max-width: 900px;
        flex-direction: column;

        &__menu {
            flex-wrap: wrap;
            justify-content: space-between;
            justify-content: left;
            align-items: left;
        }

        &__number {
            max-width: 900px;
            padding: 51px 0px 0 0;
        }
    }

    .main-content {
        display: block;
        width: 100%;

        &-left {
            max-width: 100%;
            width: 100%;

            &__info {
                width: 100%;
            }
        }

        &-right {
            display: none;
        }
    }
}

@media (max-width: 1100px) {
    .container {
        max-width: 800px;
        padding-left: 80px;
    }

    .main-header {
        &__menu {
            gap: 26px;
        }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 800px;
        padding-left: 94px;
        // margin: 0 126px auto auto;
    }

    .main-header {
        &__menu {
            max-width: 690px;
            gap: 26px;
        }

        &__number {
            max-width: 690px;
        }
    }

    .main-content {
        &-left {
            width: 100%;
            padding-top: 116px;

            &__info {
                width: 100%;
                padding-top: 24px;
            }

            &__button {
                padding: 40px 0 0 10px;
            }
        }
    }
}

@media (max-width: 940px) {
    .main-left {
        width: 80px;
    }
}

@media (max-width: 797px) {
    .main-header {
        &__menu {
            gap: 16px;
        }
    }
}

@media (max-width: 768px) {
    .main-background {
        height: 800px;
    }

    .container {
        max-width: 690px;
        padding-left: 0;
    }

    .main-left {
        display: none;
    }

    .main-header {
        display: none;
    }

    //////////////////////

    .main-burger-wrapper {
        position: fixed;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        width: 100%;
        height: auto;
        align-items: center;
        padding: 56px 38px 0 38px;


        .main-burger {
            position: relative;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 40px;

            &-span-top {
                height: 3px;
                width: 26px;
                background: #fff;
            }

            &-span-middle {
                height: 3px;
                width: 19px;
                background: #fff;
            }

            &-span-bottom {
                height: 3px;
                width: 12px;
                background: #fff;
            }
        }

        .main-burger-menu {
            position: fixed;
            top: 0;
            left: -100%;
            width: 39%;
            height: 100%;
            //transform: translate(-100%, 0px);
            background-color: #333;
            padding: 10px;
            transition: left 0.3s ease 0s;
            overflow: auto;
            padding: 30px 0 0 0;
            display: flex;
            flex-direction: column;



            &__close {
                position: relative;

                &-img {
                    position: absolute;
                    top: 0;
                    right: 30px;
                }
            }

            &__list {
                padding: 110px 0 0 39px;

                &-item {
                    a {
                        text-decoration: none;
                    }

                    color: var(--white, #FFF);
                    font-family: 'Open Sans Condensed';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;

                }
            }

            .main-burger-menu__list-icons {
                display: grid;
                grid-template-columns: repeat(2, 0fr);
                padding: 54px 0 0 0;
                gap: 54px 42px;
                justify-content: center;
                align-items: center;
                margin-bottom: 100px;
            }
        }

        .active {
            left: 0;
        }

        .remove {
            left: -100%;
        }

        .main-burger-menu__list>li {
            margin: 0 0 35px 0;

        }

        .main-number {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            margin-bottom: 40px;

            a {
                text-decoration: none;
            }

            &-hr {
                width: 139px;
                height: 2px;
            }

            h3 {
                color: var(--white, #FFF);
                text-align: right;
                font-family: 'Open Sans Condensed';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.8px;
                text-transform: uppercase;
            }
        }
    }

    //////////////

    .main-content {
        max-width: 620px;

        &-left {
            width: 100%;
            padding: 7px 0 0 70px;

            h1 {
                font-size: 36px;
                color: var(--white, #FFF);
                letter-spacing: 1.8px;
                text-align: center;
                line-height: normal;
            }

            &__info {
                padding: 20px 0 0 3px;
            }

            &__button {
                padding: 40px 0 0 0;
            }
        }
    }
}

@media (max-width: 650px) {
    .main-burger-wrapper {
        .main-burger-menu {
            width: 50%;
        }
    }

}

@media (max-width: 576px) {
    .main-background {
        height: 600px;
    }

    .container {
        padding: 0 33px;
    }

    .main-burger-wrapper {
        padding: 56px 33px 0 40px;

    }

    .main-content {
        padding-top: 154px;

        &-left {
            padding: 7px 0 0 0;

            &__info {
                padding: 11px 0 0 0px;
            }

            &__button {
                padding: 30px 0 0 0;
            }
        }
    }

    .main-burger-wrapper {
        .main-burger-menu {
            width: 70%;
        }
    }

}

@media (max-width: 472px) {
    .main-background {
        height: 800px;
    }

    .main-content {
        padding-top: 140px;
    }
}



@media (max-width: 375px) {
    .main-burger-wrapper {
        .main-burger-menu {
            width: 100%;
        }
    }
}

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

.background-page-wrapper {
    position: relative;

}

.background-page {
    position: absolute;
    top: 1044px;
    left: 0;
    width: 100%;
    max-height: 3531px;
    background-color: #333;
    z-index: -1;

}



////////////////////////////////////////////////////////////////

.teatre-color {
    color: var(--gold, #D1A954);
}

.teatre {
    padding: 151px 0 0 0px;

    h2 {
        margin-left: 7px;
        color: var(--white, #FFF);
        text-align: center;
        font-family: 'Open Sans Condensed';
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 6.4px;
        text-transform: uppercase;
    }

    &-content {
        display: flex;
        padding-top: 79px;

        &__first-column {
            display: flex;
            flex-direction: column;

            h3 {
                color: var(--white, #FFF);
                font-family: 'Open Sans Condensed';
                font-size: 21px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2.1px;
                text-transform: uppercase;
            }

            h4 {
                padding-top: 34px;
                max-width: 445px;
                color: #FFF;
                font-family: 'Open Sans';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 21px */
            }
        }

        &__second-column {
            display: flex;
            flex-direction: column;
            padding-left: 30px;

            h3 {
                color: var(--white, #FFF);
                font-family: 'Open Sans Condensed';
                font-size: 21px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2.1px;
                text-transform: uppercase;
                margin-bottom: 34px;
            }

            h4 {
                color: var(--white, #FFF);
                font-family: 'Open Sans Condensed';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.8px;
                margin-top: 16px;
            }

            img {
                width: 70px;
                height: 70px;
            }

            .theater {
                margin-top: 19px;
            }
        }

        .teatre-content__third-column {
            margin-left: 44px;
        }
    }
}

@media (max-width: 1320px) {
    .teatre {
        justify-content: center;

        &-content {
            &__third-column {
                display: none;
            }
        }
    }
}

@media (max-width: 992px) {
    .teatre {
        h2 {
            font-size: 48px;
            letter-spacing: 4.8px;
        }

        &-content {
            padding-top: 100px;
        }
    }
}

@media (max-width: 780px) {
    .teatre {
        &-content {
            &__second-column {
                padding-left: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .background-page {
        top: 799px;
    }

    .teatre {
        padding-top: 90px;

        h2 {
            padding-right: 3px;
        }

        &-content {
            padding-top: 60px;

            &__second-column {
                padding-left: 30px;
            }
        }
    }
}

@media (max-width: 720px) {
    .teatre {
        margin-left: 15px;
    }
}

@media (max-width: 576px) {
    .background-page {
        top: 599px;
    }

    .teatre {
        margin-left: 0px;
        padding-top: 80px;

        h2 {}

        &-content {
            flex-direction: column;

            &__first-column {
                text-align: center;

                h4 {
                    max-width: 504px;
                }
            }

            &__second-column {
                padding-top: 34px;
                padding-right: 30px;

                h3 {
                    text-align: center;
                }

                &-groups {
                    display: flex;
                    gap: 56px;
                    justify-content: center;
                    align-items: center;

                    &-armchair {
                        display: flex;
                        flex-direction: column;
                    }

                    &-theater {
                        .theater {
                            margin-top: 0;
                        }

                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (max-width: 472px) {
    .background-page {
        top: 799px;
    }
}

@media (max-width: 393px) {
    .teatre-content__second-column {
        padding-left: 10px;
        padding-right: 0px;

        &-groups {
            gap: 15px;
        }
    }
}

///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////

.productions {
    h2 {
        padding: 144px 0 0 7px;
        text-align: center;
        color: var(--white, #FFF);
        font-family: 'Open Sans Condensed';
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 6.4px;
        text-transform: uppercase;
    }

    .productions-swiper {
        padding: 78px 0 0 0;
        margin-left: 150px;
        overflow-x: hidden;

        &__wrapper {
            width: 100%;
            // max-width: 1770px;

            .productions-slide {
                width: 442px;
                height: 550px;
                position: relative;


                &__background {
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    opacity: 0.35;
                    transition: all 0.5s ease;
                }

                &__name {
                    position: absolute;
                    top: 40px;
                    left: 40px;
                    color: var(--white, #FFF);
                    font-family: 'Open Sans Condensed';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    opacity: 1;
                    transition: all 0.5s ease;
                }

                &__date {
                    position: absolute;
                    top: 390px;
                    left: 40px;
                    color: var(--white, #FFF);
                    font-family: 'Open Sans Condensed';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.8px;
                    text-transform: uppercase;
                    writing-mode: vertical-rl;
                    transform: rotate(-180deg);
                    opacity: 1;
                    transition: all 0.5s ease;
                }

                &__search {
                    position: absolute;
                    top: 225px;
                    left: 171px;
                    opacity: 0;
                    transition: all 0.5s ease;
                    cursor: pointer;
                }

            }

            .productions-slide:hover {

                // transition: all 4s ease;
                .productions-slide__background {
                    opacity: 1;
                    transition: all 0.5s ease;
                }

                .productions-slide__name {
                    opacity: 0;
                    transition: all 0.5s ease;
                }

                .productions-slide__date {
                    opacity: 0;
                    transition: all 0.5s ease;
                }

                .productions-slide__search {
                    opacity: 1;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}

@media (max-width: 1919px) {
    .productions-swiper-container {
        margin-right: 111px;
    }
    // .productions-swiper__wrapper{
    //     width: 1658px;
    // }
}

@media (max-width: 992px) {
    .productions {
        h2 {
            font-size: 48px;
            letter-spacing: 4.8px;
        }
    }

    .productions-swiper-container {
        padding: 22px 0 0 40px;
    }

}

@media (max-width: 768px) {
    
    .productions {
        h2 {
            padding: 86px 0 0 5px;
        }

        .productions-swiper {
            padding: 0;
            margin-left: 0;
        }
    }

    .productions-swiper-container {
        margin-right: 38px;
        padding: 60px 0 0 40px;
    }
}

@media (max-width: 576px) {
    .productions {
        h2 {
            padding: 112px 0 0 6px;
        }

        .productions-swiper {
            padding: 0;
            margin-left: 0;
        }
    }

    .productions-swiper-container {
        margin-right: 33px;
        padding: 60px 0 0 34px;
    }
}

@media (max-width: 500px) {
    .productions {
        .productions-swiper {
            &__wrapper {
                .productions-slide {
                    width: auto;
                    height: auto;
                    &__name {
                        font-size: 16px;
                        top: 40px;
                        left: 40px;
                    }

                    &__date {
                        font-size: 16px;
                        top: 390px;
                        left: 40px;
                    }

                    &__search {
                        width: 80px;
                        height: 80px;
                        top: 225px;
                        left: 171px;
                    }
                }
            }
        }
    }

}

@media (max-width: 480px) {
    .productions {
        .productions-swiper {
            &__wrapper {
                .productions-slide {
                    &__name {
                        font-size: 16px;
                        top: 40px;
                        left: 40px;
                    }

                    &__date {
                        font-size: 16px;
                        top: 350px;
                        left: 40px;
                    }

                    &__search {
                        width: 80px;
                        height: 80px;
                        top: 225px;
                        left: 160px;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .productions {
        .productions-swiper {
            &__wrapper {
                .productions-slide {
                    &__name {
                        font-size: 16px;
                        top: 40px;
                        left: 40px;
                    }

                    &__date {
                        font-size: 16px;
                        top: 300px;
                        left: 40px;
                    }

                    &__search {
                        width: 80px;
                        height: 80px;
                        top: 200px;
                        left: 150px;
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .productions {
        .productions-swiper {
            &__wrapper {
                .productions-slide {
                    &__name {
                        font-size: 16px;
                        top: 40px;
                        left: 40px;
                    }

                    &__date {
                        font-size: 16px;
                        top: 250px;
                        left: 40px;
                    }

                    &__search {
                        width: 80px;
                        height: 80px;
                        top: 170px;
                        left: 130px;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .productions {
        .productions-swiper {
            &__wrapper {
                .productions-slide {
                    &__name {
                        font-size: 16px;
                        top: 40px;
                        left: 40px;
                    }

                    &__date {
                        font-size: 16px;
                        top: 190px;
                        left: 30px;
                    }

                    &__search {
                        width: 80px;
                        height: 80px;
                        top: 150px;
                        left: 120px;
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .productions {
        h2 {
            font-size: 32px;
        }

        .productions-swiper {
            &__wrapper {
                .productions-slide {
                    &__name {
                        font-size: 16px;
                        top: 40px;
                        left: 40px;
                    }

                    &__date {
                        font-size: 16px;
                        top: 190px;
                        left: 30px;
                    }

                    &__search {
                        width: 80px;
                        height: 80px;
                        top: 120px;
                        left: 90px;
                    }
                }
            }
        }
    }
}

//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////

.years {
    max-width: 1140px;
    margin: 0 auto;
    padding: 88px 15px 0 15px;
}

.years-background {

    position: relative;

    .years-background__img {
        z-index: -1;
        width: 100%;
    }

    .years-content {
        position: absolute;
        top: 186px;
        left: 190px;
        display: flex;

        &-left {
            h2 {
                color: var(--gold, #D1A954);
                font-family: 'Open Sans Condensed';
                font-size: 72px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 7.2px;
                text-transform: uppercase;
            }
        }

        &-right {
            margin: 46px 0 0 124px;

            h3 {
                margin-top: 28px;
                color: var(--white, #FFF);
                font-family: 'Open Sans';
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                /* 54px */
            }
        }
    }
}

@media (max-width: 1126px) {
    .years {
        margin: 0;
        width: 100%;
        padding: 88px 0 0 0;
    }
}

@media (max-width: 992px) {
    .years-background {
        padding-top: 64px;

        .years-content-right {
            margin: 50px 0 0 78px;

            h3 {}

            img {
                max-width: 191.667px;
            }
        }
    }
}

@media (max-width: 870px) {
    .years-background {
        .years-content {
            top: 146px;
            left: 190px;

            &-right {
                margin: 50px 0 0 38px;

                h3 {
                    font-size: 29px;
                }
            }
        }

    }
}

@media (max-width: 768px) {
    .years-background {
        padding-top: 0px;

        &__img {}

        .years-content {
            top: 126px;
            left: 100px;

            &-right {
                margin: 66px 0 0 18px;

                h3 {
                    font-size: 29px;
                }
            }
        }

    }
}

@media (max-width: 660px) {
    .years-background {
        .years-content {
            top: 66px;
            left: 40px;

            &-right {
                margin: 66px 0 0 18px;

                h3 {
                    font-size: 29px;
                }
            }
        }

    }
}

@media (max-width: 576px) {
    .years {
        padding-top: 79px;

        &-background {
            &__img {}

            .years-content {
                top: 126px;
                left: 33px;

                &-right {
                    margin: 66px 0 0 18px;

                    h3 {
                        font-size: 25px;
                    }
                }
            }

        }
    }

}

@media (max-width: 520px) {
    .years {
        padding-top: 79px;

        &-background {
            &__img {}

            .years-content {
                top: 46px;
                left: 13px;

                &-right {
                    margin: 66px 0 0 18px;

                    h3 {
                        font-size: 20px;
                    }
                }
            }

        }
    }
}

@media (max-width: 440px) {
    .years {
        padding-top: 79px;

        &-background {
            &__img {}

            .years-content {
                top: 126px;
                left: 63px;

                &-left {
                    h2 {
                        font-size: 42px;
                    }
                }

                &-right {
                    margin: 16px 0 0 18px;

                    h3 {
                        font-size: 16px;
                    }
                }
            }

        }
    }
}

@media (max-width: 440px) {
    .years {
        padding-top: 79px;

        &-background {
            &__img {}

            .years-content {
                top: 86px;
                left: 33px;

                &-left {
                    h2 {
                        font-size: 42px;
                    }

                }

                &-right {
                    margin: 16px 0 0 18px;

                    h3 {
                        font-size: 16px;
                    }

                    img {
                        width: 150px;
                    }
                }
            }

        }
    }
}

@media (max-width: 360px) {
    .years {
        padding-top: 79px;

        &-background {
            &__img {}

            .years-content {
                top: 86px;
                left: 13px;

                &-left {
                    h2 {
                        font-size: 32px;
                    }

                }

                &-right {
                    margin: 16px 0 0 18px;

                    h3 {
                        font-size: 16px;
                    }

                    img {
                        width: 150px;
                    }
                }
            }

        }
    }
}

/////////////////////////////////////
/////////////////////////////////////
/////////////////////////////////////

.partners {
    padding-top: 152px;

    h2 {
        padding-left: 6px;
        color: var(--white, #FFF);
        font-family: 'Open Sans Condensed';
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 6.4px;
        text-transform: uppercase;
        text-align: center;
    }
}

.partners-swiper-wrapper-top {
    margin-top: 136px;
    justify-content: space-between;
    align-items: center;

    .swiper-slide {
        max-width: 256px;
    }
}

.partners-swiper-wrapper-bottom {
    margin-top: 129px;
    justify-content: space-between;
    align-items: center;

    .swiper-slide {
        max-width: 256px;
    }
}

@media (max-width: 992px) {
    .partners {
        padding-top: 149px;

        h2 {
            font-size: 48px;
            letter-spacing: 4.8px;
        }
    }

    .partners-swiper-wrapper-top {
        margin-top: 130px;
    }

    .partners-swiper-wrapper-bottom {
        margin-top: 90px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }

    .partners {
        padding-top: 90px;
    }

    .partners-swiper-wrapper-top {
        margin-top: 92px;
    }

    .partners-swiper-wrapper-bottom {
        margin-top: 90px;
    }

}

@media (max-width: 730px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 33px;
    }

    .partners {
        padding-top: 80px;
    }
}

//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////

.maecenas {
    padding-top: 125px;

    h2 {
        padding-left: 6px;
        text-align: center;
        color: var(--white, #FFF);
        font-family: 'Open Sans Condensed';
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 6.4px;
        text-transform: uppercase;
    }
}

.maecenas-content {
    padding-top: 77px;
    display:flex;
    gap: 44px;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-number {
            color: var(--white, #FFF);
            font-family: 'Open Sans Condensed';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.8px;
        }

        &-email {
            color: var(--white, #FFF);
            font-family: 'Open Sans Condensed';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            text-decoration-line: underline;
        }

        &-address {
            width: 336px;
            color: var(--white, #FFF);
            font-family: 'Open Sans Condensed';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.8px;
            text-transform: uppercase;
        }
    }
    &__form{
        &-inputs {
            display: flex;
            gap: 30px;
    
            &-content {
                display: grid;
                grid-template-columns: repeat(2, 180px);
                grid-template-rows: repeat(2, 35px);
                gap: 30px;
                
    
                input {
                    width: 180px;
                    height: 35px;
                    color: #989898;
                    font-family: 'Open Sans';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    border: 1px solid #616161;
                    background: #444;
                    padding-left: 13px;
                }
            }

            &-textarea {
                color: #989898;
                font-family: 'Open Sans';
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                border: 1px solid #616161;
                background: #444;
                padding: 8px 0 0 12px;
                width: 310px;
                height: 100px;
                resize: none;
            }
            
        }
    
        &-textbut {
            padding-top: 40px;
            display: flex;
            gap: 40px;
    
            h4 {
                width: 390px;
                color: #989898;
                font-family: 'Open Sans';
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
    
            &-button {
                margin-left: 110px;
                width: 190px;
                height: 50px;
                color: var(--white, #FFF);
                text-align: center;
                font-family: 'Open Sans Condensed';
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                background: var(--gold, #D1A954);
            }
        }
    }
    
}

@media (max-width: 1320px) {
    .maecenas-content__form-inputs-textarea{
        width: 270px;
    }
    .maecenas-content__form-textbut-button{
        margin-left: 0px;
    }
}

@media (max-width: 1300px) {

    .background-page{
         max-height: 3670px;
    }

    .maecenas-content{
        flex-direction: column;
        gap:80px;
        &__info{
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            order: 2;
            justify-content: space-between;
            :nth-child(2){
                grid-row-start: 2;
            }
            :nth-child(3){
                text-align: right;
            }
            :nth-child(4){
                text-align: right;
            }
        }

        &__form{
            order: 1;
            &-inputs{
                justify-content: space-between;
            }
            &-textbut{
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: 992px) {
    .maecenas {
        padding-top: 190px;
    
        h2 {
            font-size: 48px;
            letter-spacing: 4.8px;
        }
    }

    .maecenas-content{
        padding-top: 102px;
    }
    .maecenas-content__form-textbut-button{
        margin-left: 80px;
    }
}

@media (max-width: 768px) {
    .maecenas {
        padding-top: 160px;
    }
    .maecenas-content{
        padding-top: 62px;
        gap:60px;
        &__info{
            padding-top: 0px;
        }
    }
}

@media (max-width: 690px) {
    .maecenas-content{
        &__form{
            &-inputs{
                align-items: center;
                flex-direction: column;
                &-content{
                    display: grid;
                    grid-template-columns: repeat(2, 230px);
                    grid-template-rows: repeat(2, 35px);
                    gap: 30px 49px;
                    input {
                        width: 230px;
                        height: 35px;
                    }
                }
                &-textarea{
                    width: 509px;
                    height: 100px;
                }
            }
            &-textbut{
                align-items: center;
                flex-direction: column;
                &-button{
                    order: 1;
                    margin-left: 0;
                }
                &-text{
                    order: 2;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .maecenas {
        padding-top: 150px;
    }
    .maecenas-content{
        &__info{
            padding-top: 4px;
        }
        &__form{
            &-textbut{
                gap:30px;
                &-text{
                    padding-left: 4px;
                }
            }
        }
    }
}

@media (max-width: 562px) {
    .maecenas-content__info :nth-child(3){
        text-align: left;
    }
    .maecenas-content__info :nth-child(4){
        text-align: left;
    }
    .maecenas-content{
        &__info{
            display: flex;
            flex-direction: column;
        }
        &__form{
            &-inputs{
                &-content{
                    grid-template-columns: repeat(2, minmax(auto, 230px));
                    grid-template-rows: repeat(2, 35px);
                    gap:20px;
                    input{
                        max-width: 230px;
                        width: 100%;
                    }
                }
                &-textarea{
                    max-width: 509px;
                    width: 100%;
                    
                }
            }
        }
        
        
    }
}

@media (max-width: 400px) {
    .maecenas {
        h2{
            font-size: 32px;
        }
    }
    .maecenas-content{
        &__info{
            &-address{
                text-align: left;
                max-width: 335px;
                width: 100%;
            }
        }
        &__form{
            &-inputs{
                &-content{
                    gap:10px;
                }
            }
            &-textbut{
                h4{
                    max-width: 435px;
                    width: 100%;
                }
            }
           
        }
    }
}

//////////////////////////////////
//////////////////////////////////
//////////////////////////////////

.footer {
    padding-top: 80px;
}

.footer-content {
    border-top: 1px solid #565656;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

    h2 {
        color: #989898;
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}

.footer-mobile-br{
    display: none;
}

@media (max-width: 992px) {
    .footer {
        padding-top: 74px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding-top: 54px;
    }
}

@media (max-width: 630px) {
    .footer-mobile-br{
        display: block;
    }
}

@media (max-width: 500px) {
   .footer-content{
    gap:15px;
   } 
}